<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SimlexSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53985/Simlex.asmx" binding="basicHttpBinding"
                bindingConfiguration="SimlexSoap" contract="ServiceReference1.SimlexSoap"
                name="SimlexSoap" />
        </client>
    </system.serviceModel>
</configuration>